test-output/
target/
build/
bin/
*.jar
.project
.classpath
chromedriver.log
.idea/
.settings/
velocity.log
seleniumtestsframework.iml
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
